.page-wrapper {
  position: relative;
}

header {
  z-index: 1;
  pointer-events: none;
}

nav {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
  flex-wrap: wrap;
}
