header {
  position: absolute;
  user-select: none;
  pointer-events: none;
  width: 100%;
}

.page-wrapper,
header {
  display: flex;
  justify-content: center;
}

button {
  align-self: flex-end;
  bottom: 50vh;
  position: absolute;
}
