.page-wrapper {
  position: relative;
}

header {
  z-index: 1;
  pointer-events: none;
}

.lil-border {
  border: 1px solid #fff;
  position: absolute;
  top: 16px;
  bottom: 16px;
  right: 16px;
  left: 16px;
  pointer-events: none;
}

@media only screen and (max-width: 767px) {
  .lil-border {
    border: none;
  }
}

nav {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);
  flex-wrap: wrap;
}