.text-sidebar {
  z-index: 1;
  padding-left: var(--window-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  background-color: #000;
  border-right: 1px solid #fff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
}

.start-camera {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.start-camera svg {
  position: relative;
  webkit-animation: spin 180s linear infinite;
  -moz-animation: spin 180s linear infinite;
  -ms-animation: spin 180s linear infinite;
  -o-animation: spin 180s linear infinite;
  animation: spin 180s linear infinite;
}

.start-camera button {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}

.start-camera.fade-out {
  opacity: 0;
}

.camera-overlay {
  animation-name: fade-in;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.camera-overlay.fade-in {
  opacity: 0;
}

@-webkit-keyframes spin /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
