.aura-cluster svg {
  pointer-events: none;
  position: absolute;
  /* transition: 0.1s ease-in all; */
  filter: blur(80px);
  opacity: 0.8;
  z-index: 0;
  /* animation: gentle-pulse 6s ease-in-out infinite alternate; */
}

@keyframes gentle-pulse {
  from {
    opacity: 0.8;
  }
}
