.camera-wrapper {
  display: flex;
  width: 50vw;
  height: 100vh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

video {
  opacity: 0.8;
  background-color: #000;
  display: block;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  margin: 0;
  padding: 0;
}

/* for debugging */
.bounding-box {
  z-index: 1;
  border: 1px solid #fff;
  position: absolute;
}

.layer-container {
  display: grid;
  
  .photo-layer {
    grid-column: 1;
    grid-row: 1;
    z-index: -9999999999;
  }

  .webcam-layer {
    z-index: 9999999999;
    grid-column: 1;
    grid-row: 1;
  }
}