* {
  --window-padding: 16px;
  --header-padding: 28px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1,
p,
button {
  font-family: serif;
  font-style: italic;
  color: #fff;
  margin: 0;
}

h1,
header p {
  font-size: 1.6rem;
  font-weight: normal;
  padding-left: calc(var(--window-padding) + var(--header-padding));
  padding-right: calc(var(--window-padding) + var(--header-padding));
}

button,
.diagram-wrapper p {
  font-size: 1.2rem;
}
